body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', serif;
  font-size: 1.1rem;
  color: #40514E;
}

h1 {
  margin-top: 50px auto 0 auto;
  font-family: 'Caveat', cursive;
  font-size: 5.625rem;
  color: #843b62;
  padding-bottom: none;
  margin-bottom: 50px;
  font-weight: normal;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #843b62;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 40px;
  padding-top: 10px;
  letter-spacing: .4rem;
}

.welcome {
  color: #DE3F18;
}

.emphasize {
  font-weight: bold;
}

.myName {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  color: #843b62;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 10px;
  letter-spacing: .4rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #0b032d;
  font-size: 1.4rem;
}

p {
  line-height: 2;
}

hr {
  border: dotted #cbf1f5 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.picofme {
  border-radius: 100%;
}

.top-container {
  background-color: #ffe6eb;
  position: relative;
  padding-top: 50px;
}

.middle-container {
  margin-top: none;
  margin-bottom: none;
  padding: 60px;
  background-color: #ecf2f9;
}

.bottom-container {
  background-color: #ffb997;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 200px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.skill-row {
  width: 55%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.whatup2-row {
  width: 40%;
  margin: 100px auto 100px auto;
  line-height: 5px;
}

.laptop {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.book {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.tools {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.wiseicon {
  width: 21%;
  float: left;
}

.intro {
  width: 40%;
  margin: auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  padding-bottom: 15px;
  padding-top: 0;
  padding-right: 0;
  text-align: center;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 1rem;
  padding: 20px 0;
}

.card {
  /* background-color: #e2edff; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  border-radius: 5px;
  text-align: left;
  font-size: 1rem;
  float: left;
  margin: 1rem;
  padding-bottom: 2rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  text-align: center;
}

.crop-card {
  width: 200px;
  height: 210px;
  overflow: hidden;
}

.crop-card img {
  width: 400px;
  height: 300px;
  margin: -75px 0 0 -100px;
}

.my-project {
  width: 100%;
}

.github-link {
  background-color: #ffb997;
  border: none;
  color: black;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 6px auto;
  margin-left: 1.5rem;
  border-radius: 16px;
  font-size: 0.9rem;
  /* pointer-events: none; */
  font-family: 'Raleway', sans-serif;
  font-weight: bold;

}



/* .butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, 2be4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, 2be4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, 2be4ad);
  background-image: -o-linear-gradient(top, #30e3cb, 2be4ad);
  background-image: linear-gradient(to bottom, #30e3cb, 2be4ad);
  text-decoration: none;
} */
.aLink {
  margin-left: 0;
  margin-right: 0;
}

.aLink:hover {
  color: red;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 6px 0px;
  cursor: context-menu;
  border-radius: 16px;
  font-size: 0.9rem;
  /* pointer-events: none; */
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.language:hover {
  background: #4B5F83;
  text-decoration: none;
  color: white;
}

.course:hover {
  background: #4ABB95;
  text-decoration: none;
  color: white;
}

.wrench:hover {
  background: #E2574C;
  text-decoration: none;
  color: white;
}

.footer-link {
  font-size: 2.5rem;
  color: #0b032d;
}

.footer-link:hover {
  color: #cbf1f5;
}

@@media query {}

/* Credit goes to https://codepen.io/ArtemGordinsky/pen/GnLBq for the cursor animation! */
.blinking-cursor {
  font-weight: 100;
  font-size: 22px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }

  50% {
    color: black;
  }
}
